<!DOCTYPE html>
<html>
<head>
	<title>Grocery List</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>

  <div class="searchBar">
    <form action="/" method="POST">
        <input type="text" name="wikiURL"></input>
        <input type="submit" value="Get Recipe"></input>
    </form>
  </div>
	<a href="/reset">Reset</a>

  <table id="outline">
    <tr>
      <td>
      	<p class="tablehead">Ingredients</p>
        <ul>
        	{% for ingredient in session['ingredients'] %}
        	<li>{{ingredient}}</li>
        	{% endfor %}
        </ul>
        <a href="/addrecipe" class="bigbutton">Add to Grocery List</a>
      </td>
      		
      <td>
      	<p class="tablehead">Grocery List</p>
        <ul>
        	{% for item in session['groceries'] %}
        	<li>{{item}}</li>
        	{% endfor %}
        </ul>
        <a class="bigbutton">Export Grocery List</a>
      </td>

    </tr>

</body>
</html>