<!DOCTYPE html>
<html>
<head>
	<title>Grocery List</title>
  	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>

  	<div class="searchBar">
    	<form action="/" method="POST">
        	<input type="text" name="wikiURL"></input>
        	<input type="submit" value="Get Recipe"></input>
    	</form>
    	<br>
    	<a class="bigbutton">Find Stores Near Me</a>

  	</div>
  		<br>
		<a href="/reset">Reset</a><a>{{warning}}</a>
		<br>
  	<table id="outline">
    	<tr>
      		<td>
      			<p class="tablehead">Ingredients</p>
        		<ul>
        			{% for ingredient in session['ingredients'] %}
        			<li>
        				<a style="color:red">{{ingredient['qty']}}</a>
        				<a style="color:blue">{{ingredient['unit']}}</a>
        				<a>{{ingredient['description']}}</a>
        				<a href="/<{{ingredient['qty']}}>" value="{{ingredient}}">TEST</a>
        			</li>
        			{% endfor %}
        		</ul>
        		<a href="/add-recipe" class="bigbutton">Add to Grocery List</a>
      		</td>
      		
      		<td>
      			<p class="tablehead">Grocery List</p>
        		<ul>
        			{% for item in session['groceries'] %}
        			<li>
        				<a style="color:red">{{item['qty']}}</a>
        				<a style="color:blue">{{item['unit']}}</a>
        				<a>{{item['description']}}</a>
        			</li>
        			{% endfor %}
        		</ul>
        		<a href="/view-list" class="bigbutton">Export Grocery List</a>
      		</td>
    	</tr>
    </table>

</body>
</html>