<!DOCTYPE html>
<html>
<head>
	<title>Grocery List</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<div class="container">
  		<div class="row">
  			<div class="col">
  				<table id="outline">
  					<thead>
  						<tr>
  							<td class="tablehead">Grocery List</td>
  						</tr>
  					</thead>
  					<tbody>
  						<tr><td>
  						<ul>
      						{% for items in session['groceries'] %}
        					<li>
        						<a style="color:red">{{items['qty'] if  items['qty'] != 0}}</a>
        						<a style="color:blue">{{items['unit'] if  items['unit'] != "unk"}}</a>
        						<a>{{items['description']}}</a>
        					</li>
        					{% endfor %}
        				</ul>
        				</td></tr>
        			</tbody>
        			<tfoot>
        				<tr><td>
        				<a href="/" class="bigbutton">Return</a>
        				</td></tr>
        			</tfoot>
        		</table>
        	</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>